body {
  position: relative;
  display: block;
  background-image: url("img/bg-light.png");
  font: normal 14px helvetica, arial, sans-serif;
  padding-bottom: 210px; /* Make sure that the footer gets pushed to the bottom */
  margin: 0;
}

a {
  color: #80a15a;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #228559;
}

.main-width {
  margin: auto;
  width: 70%;
  min-width: 830px;
}

.header {
  background-image: url(img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e8342;
  height: 140px;

  .logo {
    background-image: url(img/logo.png);
    width: 217px;
    height: 139px;
  }
}

.nav-bar {
  background-image: url("img/bg-dark.png");
  width: 100%;
  height: 46px;

  .nav-link {
    float: left;
    color: white;
    font: normal 13px helvetica,arial,sans-serif;
    margin: 0 auto;
    border-left: 1px solid #332721;
    border-right: 1px solid #332721;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 15px;
    line-height: 46px;
    box-sizing: border-box;
    cursor: not-allowed;
  }

  .view-new-content {
    float: right;
  }

  .active {
    background: #cda028;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cda028), color-stop(50%,#edc150), color-stop(51%,#e5ac15), color-stop(100%,#eaaf15));
    background: -moz-linear-gradient(top, #cda028 0%, #edc150 50%, #e5ac15 51%, #eaaf15 100%);
    background: -webkit-linear-gradient(top, #cda028 0%,#edc150 50%,#e5ac15 51%,#eaaf15 100%);
    background: -ms-linear-gradient(top, #cda028 0%,#edc150 50%,#e5ac15 51%,#eaaf15 100%);
    background: -o-linear-gradient(top, #cda028 0%,#edc150 50%,#e5ac15 51%,#eaaf15 100%);
    background: linear-gradient(top, #cda028 0%,#edc150 50%,#e5ac15 51%,#eaaf15 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cda028", endColorstr="#eaaf15", GradientType=0);
    color: #423434;
    border-top: 1px solid black;
  }
}

.nav-bar-trim {
  background-color: #eaaf15;
  width: 100%;
  height: 4px;
}

.triangles {
  background-image: url("img/bg-triangles.png");
  width: 100%;
  height: 32px;
}

#forum-window {
  position: relative;
  width: 33%;
  margin: 0 auto;
  min-width: 800px;
  /*min-width: 830px;*/ /* <-- Use this value instead of 830, because 800 is just for testing */

  /*overflow: hidden;
  margin: 0 auto;
  width: 70%;
  min-width: 830px;*/


  /*width: 815px;*/ /* <-- Should I use 830 or this? */
  /*margin: auto;*/

  #content,
  #content-leaving,
  #content-arriving {
    width: 100%;
    /*min-height: 300px;*/
    min-height: 100px;
    position: absolute;

    /*margin: 6px;*/
  }
}

/*#forum-container {
  position: relative;
  width: 300%;
  /*width: 2600px;*/
/*}*/

#content[type="board-index"],
#content-arriving[type="board-index"],
#content-leaving[type="board-index"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #333;
  width: 33%;

  .category {
    /*color: black;*/
    /*color: black;*/
  }

  .title {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    background: #d5c594 url(img/main-title.png) repeat-x 0px -12px;
    color: rgba(0,0,0,0.7);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    padding: 6px 10px 9px;
    font-size: 16px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0px 1px 0 #e8dbb6;
    -moz-box-shadow: inset 0px 1px 0 #e8dbb6;
    box-shadow: inset 0px 1px 0 #e8dbb6;
    border-width: 1px 1px 0 1px;
    border-left-color: #9c906f;
    border-right-color: #9c906f;
    border-top-color: #c2b38a;
    border-style: solid;
    font-weight: bold;
    font-variant: small-caps;
  }

  .thingy {
    background: #d5c594 url(img/bg-med.png) repeat;
    border: #9c906f 1px solid;
    border-top: none;
    padding: 0 9px 9px 9px;

    .thingy-2{
      border: 1px solid rgba(0,0,0,0.3);
      box-shadow: 0 0 3px #fff;

    .board {
      background: #d5c594 url(img/bg-light.png) repeat;
      border-bottom: 1px solid #d6d2bb;
      height: 70px;
      width: 100%;

      > div {
        display: inline-block;
        height: 50px;
        padding: 10px;
        float: left;
      }

      .icon {
        display: flex;
        align-items: center;
        width: 50px;

        div {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 100%;
          height: 100%;
          cursor: not-allowed;
        }
      }

      .info {
        display: flex;
        align-items: center;

        .board-title {
          font-weight: bold;
          font-size: 15px;
        }

        .description {
        }
      }

      .last-poster {
        display: flex;
        align-items: center;
        float: right;
      }

      .stats {
        display: flex;
        align-items: center;
        float: right;
        text-align: right;

        >div {
        }
      }
    }
  }
  }
}

#content[type="threads"],
#content-arriving[type="threads"],
#content-leaving[type="threads"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 33%;

  .back {
    position: absolute;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    left: 30%;
    text-align: center;
    background-color: cyan;
    top: 6px;
  }

  .thread-header {
  }

  .title {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    background: #d5c594 url(img/main-title.png) repeat-x 0px -12px;
    color: rgba(0,0,0,0.7);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    padding: 6px 10px 9px;
    font-size: 16px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0px 1px 0 #e8dbb6;
    -moz-box-shadow: inset 0px 1px 0 #e8dbb6;
    box-shadow: inset 0px 1px 0 #e8dbb6;
    border-width: 1px 1px 0 1px;
    border-left-color: #9c906f;
    border-right-color: #9c906f;
    border-top-color: #c2b38a;
    border-style: solid;
    font-weight: bold;
    font-variant: small-caps;
  }

  .thingy {
    background: #d5c594 url(img/bg-med.png) repeat;
    border: #9c906f 1px solid;
    border-top: none;
    padding: 0 9px 9px 9px;

    .thingy-2 {
      border: 1px solid rgba(0,0,0,0.3);
      box-shadow: 0 0 3px #fff;

      .thread {
        background: #d5c594 url(img/bg-light.png) repeat;
        height: 70px;
        width: 100%;

        > div {
          display: inline-block;
          height: 50px;
          padding: 10px;
          float: left;
        }

        .icon {

        };

        .info {
          display: flex;
          align-items: center;

          .thread-title {
            font-size: 15px;
          }

          .author {
            display: inline-block;
          }

          .post-date {
            display: inline-block;
          }
        }

        .last-poster {
          display: flex;
          align-items: center;
          float: right;
        }

        .stats {
          display: flex;
          align-items: center;
          float: right;
          text-align: right;

          >div {
          }
        }
      }
    }
  }
}

#content[type="posts"],
#content-arriving[type="posts"],
#content-leaving[type="posts"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  background: #d5c594 url(img/bg-med.png) repeat;
  border: #9c906f 1px solid;
  padding-bottom: 10px;

  .back {
    position: absolute;
    border: 1px solid;
    width: 100px;
    height: 16px;
    left: 360px;
    top: 4px;
    background-color: cyan;
    text-align: center;
  }

  .post {
    padding: 10px 10px 0 10px;

    .thingy {
      background: #D3C394 url(img/bg-light.png) repeat;
      border: 1px solid rgba(0,0,0,0.3);
      box-shadow: 0 0 3px #fff;
      overflow: hidden;
      display: table;
      width: 100%;

      > div {
        display: inline-block;
        vertical-align: top;
      }

      .user {
        width: 150px;
        height: 100%;
        display: table-cell;
        text-align: center;
        border-right: 1px solid rgba(150,150,150,0.5);
        background: url(img/author-cover.png);
        padding: 5px 15px;

        .name {
          color: #5070c8;
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 4px;
          cursor: not-allowed;
        }

        .title {
          font-size: 12px;
          color: #333;
          padding-bottom: 4px;
        }

        .avatar {
          padding-bottom: 4px;

          img {
            max-width: 140px;
          }
        }
      }

      .content {
        display: table-cell;
        padding: 0px 15px;

        .content-header {
          .post-date {
            text-shadow: 0 1px 0 #fff;
            font-size: 12px;
            padding: 5px 0px;
          }
        }

        .content-body {
          line-height: 1.6;
          font-size: 14px;
          color: #282828;
          padding-top: 10px;
        }

        .ip-address {

        }
      }

      .icon {
        width: 20px;
        height: 100%;
        background-color: cyan;
      }

      .info {
        width: 380px;
        height: 100%;
        background-color: green;
      }

      .stats {
        width: 100px;
        height: 100%;
        background-color: yellow;
      }

      .last-poster {
        width: 200px;
        height: 100%;
        background-color: red;
      }
    }
  }
}

.testing {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.statistics {
  margin: 20px 0 0 0;
  padding: 10px 0;
  border-top: 2px solid rgba(90,70,50,0.25);

  .stat-links {
    float: right;

    a {
      margin-left: 10px;
      cursor: not-allowed;
    }
  }

  .head {
    font-size: 14px;
    font-weight: bold;
    color: #5a5a5a;
  }

  .online-list {
    color: #5a5a5a; /* WILL NOT ACTUALLY HAVE A COLOR! */
  }
}

.footer {
  background-image: url("img/bg-dark.png");
  width: 100%;
  height: 70px;

  .version {
    padding: 10px 0px;
    font-size: 11px;
    float: right;
  }
}

/* SAMPLE STUFF BELOW */

/* Load custom fonts */
@font-face {
  font-family: "DroidSans";
  src: url("../fonts/droid_sans.eot?#iefix") format("embedded-opentype"),
       url("../fonts/droid_sans.ttf")        format("truetype");
}

/* Keyframes */
@keyframes border-pulsate {
  from {border-color: red; border-color: rgba(255, 0, 0, 0);}
  to   {border-color: red; border-color: rgba(255, 0, 0, 1);}
}

/* 500+ */
@media (min-width: 500px) {
  .error-404-top {
    font-size: 200px;
  }

  .error-404-bot {
    font-size: 36px;
  }

  /*.content {
    font-size: 16px;
  }*/
}

/* 1-499 */
/*@media (max-width: 499px) {
  .error-404-top {
    font-size: 100px;
  }

  .error-404-bot {
    font-size: 20px;
  }

  .content {
    font-size: 8px;
  }
}*/

.glow-red {
  border: 2px solid red;
  animation: border-pulsate 1s 2 alternate cubic-bezier(0.4, 0, 1, 1);
}

.error-404 {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ccc;
}
