<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 File not found</title>
    <meta charset="utf-8">
    <meta name="description"  content="Error: 404">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body class="error-404">
    <div class="container-outer">
      <div class="container-inner">
        <div class="error-404-top">404</div>
        <div class="error-404-bot">File not found</div>
      </div>
    </div>
  </body>
</html>
